<div id="page_content_inner" >

    <div class="md-card">


        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">       
                <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                            <li><a data-uk-modal="{target:'#nuevoRegistro'}" ng-click="vaciarCamion()">Crear Nuevo Registro</a></li>
                            <!--modal-->
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Listado de Camiones <input type="text" ng-model="search" placeholder="Filtrar">
            </h3>
        </div>


        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">

                    <table class="uk-table uk-table-hover">
                        <thead>
                            <tr>
                                <th>Placa</th>
                                <th>Descripcion</th>     
                                <th>Cedula - Transportista</th>
                                <th>Nombre - Transportista</th>
                                <th>Apellido - Transportista</th>
                                <th>Tipo</th>
                                <th>Capacidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Camiones in camion| filter: search ">

                                <td> {{Camiones.placa}}</td>             
                                <td> {{Camiones.descripcion}} </td>
                                <td> {{Camiones.transportista_id}}</td>
                                <td> {{Camiones.nombre}} </td>
                                <td> {{Camiones.apellido}}</td>
                                <td> {{Camiones.tipocamion_id}}</td>
                                <td> {{Camiones.capacidad}}</td>
                                <td><a class="uk-icon-button uk-icon-edit uk-icon-button-danger" title="Modificar" data-uk-modal="{target:'#modificar'}" ng-click="modificarCamion($index)"></a>
                                    <button type="button" class="uk-icon-button uk-icon-close uk-icon-button-danger" title="Eliminar" ng-click="deleteCamion($index)"></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>   
        </div>
    </div>


    <div class="uk-modal" id="nuevoRegistro" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Nuevo camion de Camion</h3>
            </div>

            <form name="formularioCamion" novalidate>

                <div class="uk-form-row">
                    <label>Placa</label>
                    <input  type="text" class="md-input"  ng-model="placa" name="placa" ng-minlength="6" ng-maxlength="7" required/>
                    <div class="uk-text-danger" ng-messages="formularioCamion.placa.$error" >
                        <p ng-message="minlength">La placa es muy corta.</p>
                        <p ng-message="maxlength">La placa es muy larga.</p>
                        <p ng-message="required">Debe ingresar una placa.</p>

                    </div>
                </div>

                <div class="uk-form-row">
                    <label>Descripcion</label>
                    <input type="text" class="md-input"  ng-model="descripcion" name="descripcion" ng-minlength="5" ng-maxlength="50" required />
                    <div class="uk-text-danger" ng-messages="formularioCamion.descripcion.$error" >
                        <p ng-message="maxlength">La descripcion es muy larga.</p>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label>Capacidad</label>
                    <input type="number" class="md-input"  ng-model="capacidad" name="capacidad" required />
                    <div class="uk-text-danger" ng-messages="formularioCamion.capacidad.$error" >
                        <p ng-message="required">Debe ingresar la capacidad.</p>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label>Transportista</label>
                    <select class="selectized md-input ng-pristine ng-valid ng-touched" ng-model="transportista_id" name="transportista_id" required>
                        <option value="" selected>
                        </option>
                        <option ng-repeat="Transportistas in transportista" value="{{Transportistas.id}}">{{Transportistas.id}} - {{Transportistas.nombre}} {{Transportistas.apellido}} - {{Transportistas.nombEmp}}
                        </option>
                    </select>
                    <div class="uk-text-danger" ng-messages="formularioCamion.transportista_id.$error" >
                        <p ng-message="required">Debe seleccionar un transportista.</p>
                    </div>
                </div>



                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
                            ng-disabled="formularioCamion.$invalid" ng-click="PostCamion()">Aceptar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-modal" id="modificar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Modificar Camion</h3>
            </div>

            <form name="formularioCamion_mod" novalidate>

                <div class="uk-form-row">
                    <label>Placa</label>
                    <input type="text" class="md-input" ng-disabled="true" placeholder="{{placa}}"/>
                </div>

                <div class="uk-form-row">
                    <label>Descipcion</label>
                    <input type="text" class="md-input" value="{{descripcion_mod}}" ng-model="descripcion_mod" name="descripcion_mod" ng-maxlength="15" required />
                    <div class="uk-text-danger" ng-messages="formularioCamion_mod.descripcion_mod.$error" >
                        <p ng-message="maxlength">La descripcion es muy larga.</p>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label>Capacidad</label>
                    <input type="number" class="md-input"  value="{{capacidad_mod}}" ng-model="capacidad_mod" name="capacidad_mod" required />
                    <div class="uk-text-danger" ng-messages="formularioCamion_mod.capacidad_mod.$error" >
                        <p ng-message="required">Debe ingresar la capacidad.</p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label>Tipo</label>
                    <input type="number" class="md-input"  placeholder="{{tipocamion_id}}" ng-disabled="true" required />
                </div>
                <!--                <div class="uk-form-row">
                                    <label>Tipo</label>
                                    <select class="selectized md-input ng-pristine ng-valid ng-touched" ng-model="tipocamion_id_mod" name="tipocamion_id_mod" required>
                                        <option ng-repeat="Camion in tcamion" value="{{Camion.tipo}}" ng-selected="{{Camion.tipo}}">{{Camion.tipo}}
                                        </option>
                                    </select>
                                    <div class="uk-text-danger" ng-messages="formularioCamion_mod.tipocamion_id_mod.$error" >
                                        <p ng-message="required">Debe seleccionar un tipo de camion.</p>
                                    </div>
                                </div>-->
                <div class="uk-form-row">
                    <label>Transportista</label>
                    <select class="selectized md-input ng-pristine ng-valid ng-touched" ng-model="transportista_id_mod" name="transportista_id_mod" required>
                        <option ng-repeat="Transportistas in transportista" value="{{Transportistas.id}}" ng-selected="{{Transportistas.id}}">{{Transportistas.nombre}} {{Transportistas.apellido}} - {{Transportistas.nombEmp}}
                        </option>
                    </select>
                    <div class="uk-text-danger" ng-messages="formularioCamion_mod.transportista_id_mod.$error" >
                        <p ng-message="required">Debe seleccionar un transportista.</p>
                    </div>
                </div>



                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"ng-disabled="formularioCamion_mod.$invalid" ng-click="updateCamion($index)">Aceptar</button>
                </div>
            </form>
        </div>
    </div>

</div>