<div id="page_content_inner">

    <div class="md-card">
        <div class="md-card-toolbar">

            <h3 class="md-card-toolbar-heading-text">
                Tabulador de Costos <input type="text" ng-model="search" placeholder="Filtrar">
            </h3>
        </div>
        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">

                    <table class="uk-table uk-table-hover">
                        <thead>
                        <tr>
                            <th>ID Costo</th>
                            <th>Cliente Efectivo</th>
                            <th>Bono</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="Costo in costo">
                            <td>{{Costo.idcosto}}</td>
                            <td>{{Costo.cliente}}</td>
                            <td>{{Costo.bono}}</td>
                            <td>
                                <a class="uk-icon-button uk-icon-edit uk-icon-button-danger" title="Editar"
                                   data-uk-modal="{target:'#modificar'}"
                                   ng-click="modificarCosto($index);vaciarCosto()"></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="uk-modal" id="modificar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Modificar Costo</h3>
            </div>

            <form name="formularioCosto" novalidate>

                <div class="uk-form-row">
                    <label>ID Costo</label>
                    <input type="text" ng-model="idcosto" placeholder="{{idcosto_mod}}" ng-disabled="true"
                           class="md-input" required/>
                </div>
                <div class="uk-form-row">
                    <label>Cliente Efectivo</label>
                    <input name="cliente" type="text" ng-model="cliente_mod" value="{{cliente}}"
                           ng-pattern="\d*([.,\/]?\d+)\" class="md-input" required/>
                </div>
                <div class="uk-text-danger" ng-messages="formularioCosto.cliente.$error">
                    <p ng-message="required">Debe ingresar un costo.</p>
                    <!--<p ng-message="pattern">Solo numeros.</p>-->
                </div>
                <div class="uk-form-row">
                    <label>Bono</label>
                    <input type="text" name="bono" ng-model="bono_mod" value="{{bono}}" class="md-input"
                           ng-pattern="\d*([.,\/]?\d+)\" required/>
                </div>
                <div class="uk-text-danger" ng-messages="formularioCosto.bono.$error">
                    <p ng-message="required">Debe ingresar un costo.</p>
                    <!--<p ng-message="pattern">Solo numeros.</p>-->
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button" class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
                            ng-click="actCostos()"
                            ng-disabled="cliente_mod ==undefined || cliente_mod=='' || bono_mod == undefined || bono_mod ==''">Aceptar
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>