<div id="page_content_inner">
    <h1 class='uk-h1 uk-text-center'>Catálogo</h1>
    <div class="uk-grid">
        <div class="uk-width-1-3 ">
            <div class="uk-panel uk-panel-box uk-animation-scale-up" style="text-align: center;">

                <a href='#/duenoszona' class="uk-align-center uk-animation-hover"><img src="img/dueno.png"></a>
            </div>
        </div>
        <div class="uk-width-1-3">
            <div class="uk-panel uk-panel-box uk-animation-scale-up" style="text-align: center;">

                <a href='#/transportista' class="uk-align-center uk-animation-hover"><img src="img/transportistas.png"></a>
            </div>
        </div>

        <div class="uk-width-1-3">
            <div class="uk-panel uk-panel-box uk-animation-scale-up" style="text-align: center;">

                <a href='#/zonas' class="uk-align-center uk-animation-hover"><img src="img/zona.png"></a></div>
        </div>
    </div>

    <div class='uk-grid'>
        <div class='uk-width-1-2'>
            <div class='uk-panel uk-panel-box uk-animation-scale-up' style="text-align: center;">

                <a href="#/tipo_camion" class='uk-animation-hover'><img src="img/tipocamion.png"></a>
            </div>

        </div>
        <div class='uk-width-1-2'>
            <div class='uk-panel uk-panel-box uk-animation-scale-up' style="text-align: center;">

                <a href="#/camion" class='uk-animation-hover'><img src="img/camion.png"></a>
            </div>

        </div>
    </div>
    <h1 class='uk-h1 uk-text-center'>Guías de Carga</h1>
    <div class='uk-grid'>
        <div class='uk-width-1-2'>
            <div class='uk-panel uk-panel-box uk-animation-scale-up' style="text-align: center;">

                <a href="#/guias_SinDespachar" class='uk-animation-hover'><img src="img/guianodespachada.png"></a>
            </div>

        </div>
        <div class='uk-width-1-2'>
            <div class='uk-panel uk-panel-box uk-animation-scale-up' style="text-align: center;">

                <a href="#/guias_Despachadas" class='uk-animation-hover'><img src="img/guiadespachada.png"></a>
            </div>

        </div>
    </div>

    <h1 class="uk-h1 uk-text-center">Pago de Fleteros</h1>
    <div class="uk-grid">
        <div class="uk-width-1-4">
            <div class="uk-panel uk-panel-box uk-animation-scale-up" style="text-align: center">
                <a href="#/moduloMotivo" class="uk-animation-hover"><img src="img/MOTIVO.png" alt=""></a>
            </div>
        </div>
        <div class="uk-width-1-4">
            <div class="uk-panel uk-panel-box uk-animation-scale-up" style="text-align: center">
                <a href="#/costos" class="uk-animation-hover"><img src="img/COSTOS.png" alt=""></a>
            </div>
        </div>
        <div class="uk-width-1-4">
            <div class="uk-panel uk-panel-box uk-animation-scale-up" style="text-align: center">
                <a href="#/tabulador" class="uk-animation-hover"><img src="img/TABULADOR.png" alt=""></a>
            </div>
        </div>
        <div class="uk-width-1-4">
            <div class="uk-panel uk-panel-box uk-animation-scale-up" style="text-align: center">
                <a href="#/pagoFleteros" class="uk-animation-hover"><img src="img/PAGOS.png" alt=""></a>
            </div>
        </div>
    </div>
</div>