<div id="page_content_inner" >

    <div class="md-card">


        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">       
                <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                            <li><a  data-uk-modal="{target:'#nuevoRegistro'}" ng-click="reiniciarZonaDueno();vaciardueno()">Crear Nuevo Registro</a></li>
                            <!--modal-->
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Listado Dueños de Zona <input type="text" ng-model="search" placeholder="Filtrar">
            </h3>
        </div>

        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-hover">
                        <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Cargo</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Dueno in dueno | filter: search">
                                <td> {{Dueno.id}}</td>			    
                                <td> {{Dueno.nombre}} </td>
                                <td> {{Dueno.apellido}}</td>
                                <td> {{Dueno.cargo}} </td>
                                <td>
                                    <button type="button" class="uk-icon-button uk-icon-close" title="Eliminar" ng-click="deleteDueno($index)"></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>   
        </div>

    </div>


    <div class="uk-modal" id="nuevoRegistro" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Nuevo dueño de Zona</h3>
            </div>

            <form name="formularioDueno" novalidate>
                <div class="uk-form-row">
                    <label>Cedula</label>
                    <input type="text" class="md-input"  ng-model="id" name="id" ng-minlength="6" ng-maxlength="9" ng-pattern=" /^\d+$/" required/>
                    <div class="uk-text-danger" ng-messages="formularioDueno.id.$error" >
                        <p ng-message="minlength">La cedula es muy corta.</p>
                        <p ng-message="maxlength">La cedula es muy larga.</p>
                        <p ng-message="required">Debe ingresar una cedula.</p>
                        <p ng-message="pattern">Solo numeros en el campo cedula.</p>
                        
                        
                    </div>
                </div>
                <div class="uk-form-row">
                    <label>Nombre</label>
                    <input type="text" class="md-input"  ng-model="nombre" name="nombre" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[A-z]+$/" required/>
                    <div class="uk-text-danger" ng-messages="formularioDueno.nombre.$error" >
                        <p ng-message="minlength">El nombre es muy corto.</p>
                        <p ng-message="maxlength">El nombre es muy largo.</p>
                        <p ng-message="required">Debe ingresar un nombre.</p>
                        <p ng-message="pattern">Debe ingresar letras.</p>
                    </div>

                </div>
                <div class="uk-form-row">
                    <label>Apellido</label>
                    <input type="text" class="md-input" ng-model="apellido" name="apellido" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[A-z]+$/" required=""/>
                    <div class="uk-text-danger" ng-messages="formularioDueno.apellido.$error" >
                        <p ng-message="minlength">El apellido es muy corto.</p>
                        <p ng-message="maxlength">El apellido es muy largo.</p>
                        <p ng-message="required">Debe ingresar un apellido.</p>
                        <p ng-message="pattern">Debe ingresar letras.</p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label>Cargo</label>
                    <input type="text" class="md-input" ng-model="cargo" name="cargo" required="" /> 
                    <div class="uk-text-danger" ng-messages="formularioDueno.cargo.$error" >
                        <p ng-message="required">Debe ingresar un cargo.</p>
                    </div>
                </div>


                <div class="demo-section k-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-hover">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Zona</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Zona in zona">
                                    <td> {{Zona.id}}</td>     
                                    <td> {{Zona.nombre}} </td>     
                                    <td> <input type="checkbox" ng-model="zona[$index].estatus" ng-change="selectZona($index)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>     
                <div>{{seleccion.select}}</div>


                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button"  class="md-btn md-btn-flat uk-modal-close md-btn-flat-primary" ng-disabled="formularioDueno.$invalid" ng-click="postDueno()">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
<!-- Disable
    <div class="uk-modal" id="modificar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Modificar</h3>
            </div>

            <form name="formularioDueno" novalidate>
                <div class="uk-form-row">
                    <label>Cedula</label>
                    <input type="text" class="md-input" ng-disabled="true" placeholder="{{cedula}}" ng-model="id" />
                </div>
                <div class="uk-form-row">
                    <label>Nombre</label>
                    <input type="text" class="md-input" value="{{nombre_mod}}" ng-model="nombre_mod" name="nombre_mod" ng-minlength="3" ng-maxlength="20" required/>
                    <div class="uk-text-danger" ng-messages="formularioDueno_mod.nombre_mod.$error" >
                        <p ng-message="minlength">El nombre es muy corto.</p>
                        <p ng-message="maxlength">El nombre es muy largo.</p>
                        <p ng-message="required">Debe ingresar un nombre.</p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label>Apellido</label>
                    <input type="text" class="md-input" value="{{apellido_mod}}" ng-model="apellido_mod" name="apellido_mod" ng-minlength="3" ng-maxlength="20" required/>
                    <div class="uk-text-danger" ng-messages="formularioDueno_mod.apellido_mod.$error" >
                        <p ng-message="minlength">El apellido es muy corto.</p>
                        <p ng-message="maxlength">El apellido es muy largo.</p>
                        <p ng-message="required">Debe ingresar un apellido.</p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label>Cargo</label>
                    <input type="text" class="md-input" value="{{cargo_mod}}" ng-model="cargo_mod" name="cargo_mod" />
                    <div class="uk-text-danger" ng-messages="formularioDueno_mod.cargo_mod.$error" >
                        <p ng-message="required">Debe ingresar un cargo.</p>
                    </div>
                </div>
                <div class="demo-section k-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-hover">
                            Aqui se debe colocar las zonas que tiene asignada el dueño para editar
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Zona</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ZonasSinDuenos in zona">
                                    <td> {{ZonasSinDuenos.id}}</td>
                                    <td> {{ZonasSinDuenos.nombre}} </td>
                                    <td> <input type="checkbox"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>   										
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button"  class="md-btn md-btn-flat uk-modal-close md-btn-flat-primary" ng-disabled="formularioDueno_mod.$invalid" ng-click="modificarDueno($index);">Aceptar</button>
                </div>
            </form>

        </div>
    </div>
-->


</div>