<div id="page_content_inner">

    <div class="md-card">


        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                            <li><a data-uk-modal="{target:'#nuevoRegistro'}">Nueva Empresa</a></li>
                            <!--modal-->
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Empresas <input type="text" ng-model="search" placeholder="Filtrar">
            </h3>
        </div>


        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">

                    <table class="uk-table uk-table-hover">
                        <thead>
                        <tr>
                            <th>Rif</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="empresa in Empresa | filter: search">
                            <td> {{empresa.id}}</td>
                            <td> {{empresa.nombre}}</td>
                            <td> {{empresa.direccion}}</td>

                            <td><a class="uk-icon-button uk-icon-edit uk-icon-button-danger" title="Modificar"
                                   data-uk-modal="{target:'#modificar'}" ng-click="modificar($index)"></a>
                                <button type="button" class="uk-icon-button uk-icon-close uk-icon-button-danger"
                                        title="Eliminar" ng-click="borrarEmp($index)"></button>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="uk-modal" id="nuevoRegistro" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Nueva empresa</h3>
            </div>

            <form name="FormularioEmpresa" novalidate>

                <div class="uk-form-row">
                    <label>RIF</label>
                    <input type="text" name="rif" ng-model="rif" class="md-input" required ng-maxlength="11"
                           ng-minlength="8"/>
                    <div class="uk-text-danger" ng-messages="FormularioEmpresa.rif.$error">
                        <p ng-message="minlength">Rif muy corto.</p>
                        <p ng-message="maxlength">Rif muy largo.</p>
                        <p ng-message="required">Debe ingresar el rif.</p>
                    </div>
                </div>


                <div class="uk-form-row">
                    <label>Nombre</label>
                    <input type="text" ng-model="nombre" name="nombre" class="md-input" ng-minlength="5" ng-maxlength="50" required/>
                    <div class="uk-text-danger" ng-messages="FormularioEmpresa.nombre.$error">
                        <p ng-message="required">Debe ingresar el nombre.</p>
                        <p ng-message="minlength">Nombre muy corto.</p>
                        <p ng-message="maxlength">Nombre muy largo.</p>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label>Direccion</label>
                    <input type="text" ng-model="dir" name="direccion" class="md-input" required/>

                    <!--<div class="uk-grid">-->
                        <!--<div name="direccion" class="uk-width-2-1"><textarea rows="3" placeholder="ASDASDS" ng-model="dir" ng-maxlength="190" class="uk-width-1-1"></textarea></div>-->
                    <!--</div>-->

                    <div class="uk-text-danger" ng-messages="FormularioEmpresa.direccion.$error">
                        <p ng-message="required">Debe ingresar la direccion.</p>
                        <p ng-message="maxlength">Direccion muy larga.</p>
                    </div>
                </div>

                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button" class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
                            ng-click="crearEmpresa()" ng-disabled="FormularioEmpresa.$invalid">Aceptar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-modal" id="modificar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Modificar empresa</h3>
            </div>

            <form name="empresa" novalidate>

                <div class="uk-form-row">
                    <label>RIF</label>
                    <input type="text" ng-model="rif" placeholder="{{rif}}" ng-disabled="true" class="md-input"
                           required/>
                </div>
                <div class="uk-form-row">
                    <label>Nombre</label>
                    <input type="text" ng-model="nombre_m" value="{{nombre_m}}" class="md-input" required/>
                </div>
                <div class="uk-form-row">
                    <label>Direccion</label>
                    <input type="text" ng-model="dir_m" value="{{dir_m}}" class="md-input" required/>
                </div>

                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button" class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
                            ng-click="actEmpresa()">Aceptar
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>