<div id="page_content_inner">

    <div class="md-card">


        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                            <li><a data-uk-modal="{target:'#nuevoRegistro'}" ng-click="vaciarGuia();resetSelect()">Crear
                                Guia</a></li>
                            <!--modal-->
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Guias sin Despachar <input type="text" placeholder="Filtrar" ng-model="searchfacturasinguia">
            </h3>

        </div>

        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">

                    <table class="uk-table uk-table-hover">
                        <thead>
                        <tr>
                            <th>N° Guia</th>
                            <th>Zona</th>
                            <th>N° de Clientes</th>
                            <th>N° de Facturas</th>
                            <th>Total Peso</th>
                            <th>Total Monto</th>
                            <th>Total Volumen</th>
                            <th>Fecha de Creacion</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="GuiasSinDespachar in guiaSinDespachar| filter : searchfacturasinguia | orderBy: '+ID'"
                            style="font-size: 12px;">

                            <td>{{GuiasSinDespachar.ID}}</td>
                            <td>{{GuiasSinDespachar.NOMBRE_CIUDAD}}</td>

                            <td>{{GuiasSinDespachar.NCLIE}}</td>
                            <td>{{GuiasSinDespachar.NFACT}}</td>
                            <td>{{GuiasSinDespachar.PESOTT}}</td>
                            <td>{{GuiasSinDespachar.MONTOTT| currency: 'Bs '}}</td>
                            <td>{{GuiasSinDespachar.VOLTT}}</td>
                            <td>{{GuiasSinDespachar.FECHACREA}}</td>

                            <td>
                                <button type="button" class="uk-icon-button uk-icon-eye uk-button-primary"
                                        title="Visualizar" data-uk-modal="{target:'#visualizar'}"
                                        ng-click="visualizarSinDespachar($index)"></button>
                                <button type="button" class="uk-icon-button uk-icon-check-circle-o uk-button-success"
                                        title="Despachar" data-uk-modal="{target:'#despachar'}" ng-click="despacharGuia($index);
                                                    resetSelect2()"></button>
                                <button type="button" class="uk-icon-button uk-icon-close uk-button-success"
                                        title="Eliminar" ng-click="deleteGuia($index)"></button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="uk-modal" id="nuevoRegistro" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 0px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Facturas por Rango de Fechas</h3>
            </div>


            <form class="uk-form-stacked">
                <div class="uk-form-row">
                    <input id="start" style="width: 100%;" ng-model="fechaInicio" required/>
                </div>
                <div class="uk-form-row">
                    <input id="end" style="width: 100%;" ng-model="fechaFinal" required/>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button" class="md-btn md-btn-flat md-btn-flat-primary"
                            ng-click="RangoFechaFacturas();" data-uk-modal="{target:'#generarguia'}">Aceptar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-modal" id="generarguia" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 0px; width: 90%;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Crear Guia <input type="text" ng-model="search"
                                                             placeholder="Filtrar facturas"></h3>
            </div>

            <form name="formularioFacturaSinGuia" novalidate>

                <div class="demo-section k-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-hover" id="tableFacturas">

                            <thead>
                            <tr>
                                <th>Factura</th>
                                <th>Codigo Cliente</th>
                                <th>Nombre Cliente</th>
                                <th>Monto</th>
                                <th>Ruta</th>
                                <th>Fecha</th>
                                <th>Zona</th>
                                <th>Peso</th>
                                <th>Volumen</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="FacturaSinGuia in FacturasSinGuia| filter: search ">
                                <td>{{FacturaSinGuia.Numerofactura}}</td>
                                <td>{{FacturaSinGuia.CodigoCliente}}</td>
                                <td>{{FacturaSinGuia.NombreCliente}}</td>
                                <td>{{FacturaSinGuia.MontoTotal| currency: 'Bs '}}</td>
                                <td>{{FacturaSinGuia.CodigoRuta}}</td>
                                <td>{{FacturaSinGuia.FechaFactura}}</td>
                                <td>{{FacturaSinGuia.NombreCiudad}}</td>
                                <td>{{FacturaSinGuia.PesoFactura | number: 2}}</td>
                                <td>{{FacturaSinGuia.VolumentFactura | number: 2}}</td>
                                <td>
                                    <input type="checkbox" ng-model="FacturasSinGuia[$index].status"
                                           ng-change="seleccionarFactura($index)" name="selectFactura"
                                           ng-required="required">
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div>{{seleccion.select}}</div>


                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Numero de Factura</label>
                                <input type="text" class="md-input" placeholder="{{arrayFacturas.length}}"
                                       ng-model="nfact" value="{{arrayFacturas.length}}" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Monto</label>
                                <input type="text" class="md-input"
                                       placeholder="{{MontoTotalFacturas | currency: 'Bs '}}" ng-model="montott"
                                       value="{{MontoTotalFacturas}}" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Peso</label>
                                <input type="text" class="md-input" placeholder="{{pesoFixed}}"
                                       ng-model="pesott" value="{{pesoFixed}}" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Volumen</label>
                                <input type="text" class="md-input" placeholder="{{VolumenTfixed}}"
                                       ng-model="voltt" value="{{VolumenTfixed}}" disabled/>
                            </div>
                        </div>

                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Clientes</label>
                                <input type="text" class="md-input" placeholder="{{arrayClientes.length}}"
                                       ng-model="nclie" value="{{arrayClientes.length}}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                        <div class="uk-width-small-1-4">
                            <div class="uk-form-row">
                                <label>Estado</label>
                                <select ng-model="estadoObj" ng-change="ciudadesTab()" class="selectized md-input" name="FactSinGuiaEstado" required>
                                    <option ng-repeat="estado in estados" value="{{estado}}">
                                        {{estado.NOMBESTA}}
                                    </option>
                                </select>
                                <div class="uk-text-danger"
                                     ng-messages="formularioFacturaSinGuia.FactSinGuiaEstado.$error">
                                    <p ng-message="required">Debe seleccionar un estado.</p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-small-1-4">
                            <div class="uk-form-row">
                                <label>Ciudad</label>
                                <select class="selectized md-input" name="FactSinGuiaCiudad" ng-model="ciudadObj"  required>
                                    <option ng-repeat="ciudad in ciudades" value="{{ciudad}}">
                                        {{ciudad.NOMBCIUD}}
                                    </option>
                                </select>
                                <div class="uk-text-danger"
                                     ng-messages="formularioFacturaSinGuia.FactSinGuiaCiudad.$error">
                                    <p ng-message="required">Debe seleccionar una ciudad.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button" class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
                            ng-disabled="formularioFacturaSinGuia.$invalid" ng-click="crearGuia()">Crear Guia
                    </button>
                    <div class="uk-text-danger" ng-messages="formularioFacturaSinGuia.selectFactura.$error.required">
                        <p ng-message="required">Debe seleccionar una factura.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-modal" id="despachar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 0px; width: 90%;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Despachar</h3>
            </div>

            <form name="formularioFacturaDespachar" novalidate>

                <div class="demo-section k-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-hover">

                            <thead>
                            <tr>
                                <th>Factura</th>
                                <th>Codigo Cliente</th>
                                <th>Nombre Cliente</th>
                                <th>Monto</th>
                                <th>Ruta</th>
                                <th>Fecha</th>
                                <th>Zona</th>
                                <th>Peso</th>
                                <th>Volumen</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="Facturas in factura">
                                <td>{{Facturas.Numerofactura}}</td>
                                <td>{{Facturas.CodigoCliente}}</td>
                                <td>{{Facturas.NombreCliente}}</td>
                                <td>{{Facturas.MontoTotal| currency: 'Bs '}}</td>
                                <td>{{Facturas.CodigoRuta}}</td>
                                <td>{{Facturas.FechaFactura}}</td>
                                <td>{{Facturas.NombreCiudad}}</td>
                                <td>{{Facturas.PesoFactura}}</td>
                                <td>{{Facturas.VolumentFactura}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div>{{seleccion.select}}</div>


                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Numero de Factura</label>
                                <input type="text" class="md-input" placeholder="{{NFACT}}" ng-model="nfact"
                                       value="{{NFACT}}" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Monto</label>
                                <input type="text" class="md-input" placeholder="{{MONTOTT| currency: 'Bs '}}"
                                       ng-model="montott" value="{{MONTOTT}}" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Peso</label>
                                <input type="text" class="md-input" placeholder="{{PESOTT}}" ng-model="pesott"
                                       value="{{PESOTT}}" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Volumen</label>
                                <input type="text" class="md-input" placeholder="{{VOLTT}}" ng-model="voltt"
                                       value="{{VOLTT}}" disabled/>
                            </div>
                        </div>

                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Clientes</label>
                                <input type="text" class="md-input" placeholder="{{NCLIE}}" ng-model="nclie"
                                       value="{{NCLIE}}" disabled/>
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                        <div class="uk-width-small-1-3">
                            <div class="uk-form-row">
                                <label>Zona</label>
                                <input type="text" class="md-input" placeholder="{{NOMBRE_CIUDAD}}"
                                       ng-model="NOMBRE_CIUDAD" value="{{NOMBRE_CIUDAD}}" disabled/>
                            </div>
                        </div>

                        <div class="uk-width-small-1-3">
                            <div class="uk-form-row">
                                <label>Transportista</label>
                                <select class="selectized md-input"
                                        ng-change="changeCamiones()" ng-model="chofer" name="transportistaForm"
                                        required>
                                    <option ng-repeat="Transportistas in transportista" value="{{Transportistas.id}}"
                                    >{{Transportistas.nombre}} {{Transportistas.apellido}}
                                    </option>
                                </select>
                                <div class="uk-text-danger"
                                     ng-messages="formularioFacturaDespachar.transportistaForm.$error">
                                    <p ng-message="required">Debe seleccionar un transportista.</p>
                                </div>
                            </div>
                        </div>

                        <div class="uk-width-small-1-3">
                            <div class="uk-form-row">
                                <label>Camion</label>
                                <select class="selectized md-input" ng-model="camionObj">
                                    <option ng-repeat="camion in camiones" value="{{camion}}">{{camion.descripcion}} -
                                        {{camion.capacidad}} Kgs
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="uk-modal-footer uk-text-right">
                        <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>

                        <button type="button" class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
                                ng-disabled="formularioFacturaDespachar.$invalid" ng-click="postDespachoGuia()">
                            Despachar
                        </button>
                    </div>

                </div>
        </div>
    </div>

    <div class="uk-modal" id="visualizar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <form name="formularioFacturaModificar" novalidate>
            <div class="uk-modal-dialog" style="top: 0px; width: 90%;">
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">Modificar guia sin despachar</h3>
                </div>

                <div class="demo-section k-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-hover">
                            <!-- Eliminar facturas a guia sin despachar -->
                            <thead>
                            <tr>
                                <th>Factura</th>
                                <th>Codigo Cliente</th>
                                <th>Nombre Cliente</th>
                                <th>Monto</th>
                                <th>Ruta</th>
                                <th>Fecha</th>
                                <th>Nombre Zona</th>
                                <th>Peso Total</th>
                                <th>Volumen Total</th>
                                <th>Eliminar factura</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="Facturas in facturaConGuiaE">
                                <td>{{Facturas.Numerofactura}}</td>
                                <td>{{Facturas.CodigoCliente}}</td>
                                <td>{{Facturas.NombreCliente}}</td>
                                <td>{{Facturas.MontoTotal| currency: "Bs "}}</td>
                                <td>{{Facturas.CodigoRuta}}</td>
                                <td>{{Facturas.FechaFactura}}</td>
                                <td>{{Facturas.NombreCiudad}}</td>
                                <td>{{Facturas.PesoFactura | number: 2 }}</td>
                                <td>{{Facturas.VolumentFactura}}</td>
                                <td>
                                    <input type="checkbox" ng-model="facturaConGuiaE[$index].status"
                                           ng-change="seleccionarFacturaConGuia($index)" name="selectFacturaEliminar">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Numero de Factura</label>
                                <input type="text" class="md-input" placeholder="{{FacturasTotales}}" ng-model="nfact"
                                       value="{{FacturasTotales}}" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Monto</label>
                                <input type="text" class="md-input"
                                       placeholder="{{MontoTotalFacturas| currency: 'Bs '}}" ng-model="montott"
                                       value="{{MontoTotalFacturas}}" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Peso</label>
                                <input type="text" class="md-input" placeholder="{{PesoTotalFacturas}}"
                                       ng-model="pesott" value="{{pesoFixed}}" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Volumen</label>
                                <input type="text" class="md-input" placeholder="{{VolumenTotalFacturas}}"
                                       ng-model="voltt" value="{{VolumenTfixed}}" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Total Clientes</label>
                                <input type="text" class="md-input" placeholder="{{ClientesTotales}}" ng-model="nclie"
                                       value="{{ClientesTotales}}" disabled/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat md-btn-flat-primary"
                            ng-click="imprimirGuiaSinD($index)">Imprimir
                    </button>
                    <button type="button" class="md-btn md-btn-flat md-btn-flat-danger uk-modal-close"
                            ng-disable="formularioFacturaModificar.$invalid" ng-click="guardar($index)">Guardar
                    </button>
                    <div class="uk-text-danger" ng-messages="formularioFacturaDespachar.selectFacturaEliminar.$error">
                        <p ng-message="required">Debe seleccionar una factura.</p>
                    </div>
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                </div>
            </div>
        </form>
    </div>

</div>
