<div id="page_content_inner">


    <div class="md-card">

        <div class="md-card-toolbar">

            <h3 class="md-card-toolbar-heading-text">
                Guias Despachadas   <input type="text" placeholder="Filtrar" ng-model="searchfacturaguia">
            </h3>
        </div>

        <div class="md-card-content">
            <form >
                <div class="demo-section k-content">
                    <div class="uk-overflow-container">

                        <table class="uk-table uk-table-hover" >
                            <thead>
                                <tr>
                                    <th>N° Guia</th>
                                    <th>Zona</th>
                                    <th>Nombre Transp.</th>
                                    <th>Apellido Transp.</th>
                                    <th>RIF</th>
                                    <th>Empresa</th>
                                    <th>N° de Clientes</th>
                                    <th>N° de Facturas</th>
                                    <th>Total Peso</th>
                                    <th>Total Bs</th>
                                    <th>Total Volumen</th>
                                    <th>Fecha de Despacho</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="GuiasDespachadas in guiaDespachada| filter: searchfacturaguia" >
                                    <td>{{GuiasDespachadas.ID}}</td>
                                    <td>{{GuiasDespachadas.NOMBRE_CIUDAD}}</td>
                                    <td>{{GuiasDespachadas.NOMBRE}}</td>
                                    <td>{{GuiasDespachadas.APELLIDO}}</td>
                                    <td>{{GuiasDespachadas.RIF}}</td>
                                    <td>{{GuiasDespachadas.NOMBEMPRESA}}</td>
                                    <td>{{GuiasDespachadas.NCLIE}}</td>
                                    <td>{{GuiasDespachadas.NFACT}}</td>
                                    <td>{{GuiasDespachadas.PESOTT}}</td>  
                                    <td>{{GuiasDespachadas.MONTOTT}}</td>
                                    <td>{{GuiasDespachadas.VOLTT}}</td>
                                    <td>{{GuiasDespachadas.FECHADESP}}</td>
                                    <td>
                                        <div class="uk-button-group">
                                            <button type="button" class="uk-icon-button uk-icon-check-circle-o uk-button-success" title="Entregar" data-uk-modal="{target:'#entregar'}" ng-click="entregarGuia1($index)"></button>
                                            <button type="button" class="uk-icon-button uk-icon-eye uk-button-primary" title="Visualizar" data-uk-modal="{target:'#visualizar'}" ng-click="FacturasConGuia($index)"></button>
                                            <button type="button" class="uk-icon-button uk-icon-edit uk-icon-button-danger" title="Modificar" data-uk-modal="{target:'#modificar'}" ng-click="modificarGuiaT($index)" ng-model="facturaConGuiaE[$index].status"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="uk-modal" id="visualizar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 0px; width: 90%;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Visualizar</h3>
            </div>

            <form >
                <div id="tableGuia" class="demo-section k-content">
                    <div class="uk-overflow-container">
                        <table   class="uk-table uk-table-hover">
                            <!-- Visualizar facturas, clientes, montos, rutas, fechas, cuidades, peso y vol -->
                            <thead>
                                <tr >
                                    <th>Factura</th>
                                    <th>Codigo Cliente</th>
                                    <th>Nombre Cliente</th>
                                    <th>Monto</th>
                                    <th>Ruta</th>
                                    <th>Fecha</th>
                                    <th>Nombre Zona</th>
                                    <th>Peso Total</th>
                                    <th>Volumen Total</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Facturas in facturaConGuiaE">
                                    <td>{{Facturas.Numerofactura}}</td>
                                    <td>{{Facturas.CodigoCliente}}</td>
                                    <td>{{Facturas.NombreCliente}}</td>
                                    <td>{{Facturas.MontoTotal | currency: "Bs "}}</td>
                                    <td>{{Facturas.CodigoRuta}}</td>
                                    <td>{{Facturas.FechaFactura}}</td>
                                    <td>{{Facturas.NombreCiudad}}</td>  
                                    <td>{{Facturas.PesoFactura}}</td>
                                    <td>{{Facturas.VolumentFactura}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="uk-modal-footer uk-text-right">
                        <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                        <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary" ng-click="imprimir($index)">Imprimir</button>
                    </div>
            </form>
        </div>
    </div>
</div>

<div class="uk-modal" id="modificar" aria-hidden="true" style="display: none; overflow-y: auto;">
    <div class="uk-modal-dialog" style="top: 0px; width: 90%;">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Modificar</h3>
        </div>
        <form >
            <div class="demo-section k-content">
                <div class="uk-overflow-container">
                    <table   class="uk-table uk-table-hover">
                        <!-- Visualizar facturas, clientes, montos, rutas, fechas, cuidades, peso y vol -->
                        <thead>
                            <tr >
                                <th>Factura</th>
                                <th>Codigo Cliente</th>
                                <th>Nombre Cliente</th>
                                <th>Monto</th>
                                <th>Ruta</th>
                                <th>Fecha</th>
                                <th>Nombre Zona</th>
                                <th>Peso Total</th>
                                <th>Volumen Total</th>
                                <th>Eliminar factura</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Facturas in facturaConGuiaE">
                                <td>{{Facturas.Numerofactura}}</td>
                                <td>{{Facturas.CodigoCliente}}</td>
                                <td>{{Facturas.NombreCliente}}</td>
                                <td>{{Facturas.MontoTotal | currency: "Bs "}}</td>
                                <td>{{Facturas.CodigoRuta}}</td>
                                <td>{{Facturas.FechaFactura}}</td>
                                <td>{{Facturas.NombreCiudad}}</td>  
                                <td>{{Facturas.PesoFactura}}</td>
                                <td>{{Facturas.VolumentFactura}}</td>
                                <td>
                                    <input type="checkbox" ng-model="facturaConGuiaE[$index].status" ng-change="seleccionarFacturaConGuia($index)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                    <div class="uk-width-small-1-5">
                        <div class="uk-form-row">
                            <label>Numero de Factura</label>
                            <input  type="text" class="md-input"  placeholder="{{FacturasTotales}}"
                                    ng-model="nfact" value="{{FacturasTotales}}" disabled/>
                        </div>
                    </div>
                    <div class="uk-width-small-1-5">
                        <div class="uk-form-row">
                            <label>Total Monto</label>
                            <input  type="text" class="md-input"  placeholder="{{MontoTotalFacturas| currency: 'Bs '}}"
                                    ng-model="montott" value="{{MontoTotalFacturas}}" disabled/>
                        </div>
                    </div>
                    <div class="uk-width-small-1-5">
                        <div class="uk-form-row">
                            <label>Total Peso</label>
                            <input  type="text" class="md-input"  placeholder="{{PesoTotalFacturas}}"
                                    ng-model="pesott" value="{{pesoFixed}}" disabled/>
                        </div>
                    </div>
                    <div class="uk-width-small-1-5">
                        <div class="uk-form-row">
                            <label>Total Volumen</label>
                            <input  type="text" class="md-input"  placeholder="{{VolumenTotalFacturas}}"
                                    ng-model="voltt" value="{{VolumenTfixed}}"  disabled/>
                        </div>
                    </div>

                    <div class="uk-width-small-1-5">
                        <div class="uk-form-row">
                            <label>Total Clientes</label>
                            <input  type="text" class="md-input"  placeholder="{{ClientesTotales}}"
                                    ng-model="nclie" value="{{ClientesTotales}}" disabled/>
                        </div>
                    </div>
                </div>

                <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                    <div class="uk-width-small-1-3">
                        <div class="uk-form-row">
                            <label>Zona</label>
                            <input  type="text" class="md-input"  placeholder="{{NOMBRE_CIUDAD}}"
                                    ng-model="NOMBRE_CIUDAD" value="{{NOMBRE_CIUDAD}}" disabled/>
                        </div>
                    </div>

                    <div class="uk-width-small-1-3">
                        <div class="uk-form-row">
                            <label>Transportista</label>
                            <select id="transportista" class="selectized md-input ng-pristine ng-valid ng-touched" ng-change="changeCamiones()" ng-model="trasportista">
                                <option ng-repeat="Transportistas in transportista" value="{{Transportistas.id}}" ng-selected="{{CODTRANSP}}">{{Transportistas.nombre}} {{Transportistas.apellido}} 
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="uk-width-small-1-3">
                        <div class="uk-form-row">
                            <label>Camion</label>
                            <select  id="camion" class="selectized md-input ng-pristine ng-valid ng-touched" >
                                <option ng-repeat="camion in camiones" value="{{camion.placa}}" ng-selected="{{CODESTA}}">{{camion.descripcion}} - {{camion.capacidad}} Kgs
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button" class="md-btn md-btn-flat-danger uk-modal-close" data-uk-modal="{target:'#loginSinDespachar'}">Eliminar</button>                    
                    <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" ng-click="guardarGuiaMod($index)" >Guardar</button>
                </div>
            </div>
            <div>{{seleccion.select}}</div>
    </div>  
</div>

<div class="uk-modal" id="loginSinDespachar" aria-hidden="true" style="display: none; overflow-y: auto;">
    <div class="uk-modal-dialog" style="top: 174px;">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Eliminar Guia Despachada</h3>
        </div>

        <form name="formularioLogin" novalidate>

            <div class="uk-form-row">
                <label>Usuario</label>
                <input  ng-model="user" class="md-input" ng-minlength="3" ng-maxlength="20" required/>

            </div>

            <div class="uk-form-row">
                <label>Contraseña</label>
                <input type="password" ng-model="pass" class="md-input" ng-minlength="3" ng-maxlength="25" required />

            </div>

            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" ng-click="login()">Aceptar</button>
            </div>
        </form>
    </div>
</div>

<div class="uk-modal" id="entregar" aria-hidden="true" style="display: none; overflow-y: auto;">
    <div class="uk-modal-dialog" style="top: 174px;">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Asignar Fecha de Entrega y Motivo</h3>
        </div>

        <form name="formularioEntrega" novalidate>

            <div class="uk-form-row">
                <label>Fecha de Entrega</label>
                <input type="text" ng-model="entregaf" id="fentrega" style="width: 100%;" required />
            </div>
            <div class="uk-text-danger" ng-messages="formularioEntrega.fechaentrega.$error" ng-if="formularioEntrega.fechaentrega.$dirty" >
                <p ng-message="required">Debe elegir una fecha de entrega.</p>
            </div>
            <div class="uk-form-row">
                <label>Motivo</label>
                <select name="motivo" class="selectized md-input ng-pristine ng-valid ng-touched" ng-model="id_motivo" ng-change="captura($index)" ng-options="Motivos.id as Motivos.descrip for Motivos in motivos" required>
                </select>
            </div>
            <div class="uk-text-danger" ng-messages="formularioEntrega.motivo.$error" >
                <p ng-message="required">Debe elegir un motivo.</p>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" ng-click="entregarGuia($index, GuiasDespachadas)">Aceptar</button>
            </div>
        </form>
    </div>
</div>
</div>






