<div id="page_content_inner" >

    <div class="md-card">


        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">       
                <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                            <li><a data-uk-modal="{target:'#nuevoRegistro'}" ng-click="vaciarMotivo()">Nuevo Motivo</a></li>
                            <!--modal-->
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Motivos <input type="text" ng-model="search" placeholder="Filtrar">
            </h3>
        </div>


        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">

                    <table class="uk-table uk-table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Descripcion</th>     
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Motivos in motivos">
                                <td>{{Motivos.id}}</td>             
                                <td>{{Motivos.descrip}}</td>
                                <td>
                                    <button type="button" class="uk-icon-button uk-icon-close uk-icon-button-danger" title="Eliminar" ng-click="deleteMotivo($index)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>   
        </div>
    </div>


    <div class="uk-modal" id="nuevoRegistro" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Nuevo Motivo</h3>
            </div>

            <form name="formMotivo" novalidate>

                <div class="uk-form-row">
                    <label>Descripcion</label>
                    <input type="text" class="md-input" ng-model="descrip" name="descripcion" ng-minlength="5" ng-maxlength="20" required/>
                </div>
                <div class="uk-text-danger" ng-messages="formMotivo.descripcion.$error" >
                    <p ng-message="required">Ingrese una descripcion.</p>
                    <p ng-message="minlength">Descripcion muy corta.</p>
                    <p ng-message="maxlength">Descripcion muy larga.</p>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" ng-disabled="formMotivo.$invalid" ng-click="postMotivo()" >Aceptar</button>
                </div>
            </form>
        </div>
    </div>

</div>