<div id="page_content_inner">

    <div class="md-card">
        <div class="md-card-toolbar">

            <h3 class="md-card-toolbar-heading-text">
                Reportes <input type="text" ng-model="search" placeholder="Filtrar">
            </h3>
        </div>
        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">

                    <ul class="uk-list uk-list-striped">
                        <li>
                            <button type="button" class="uk-button uk-icon-print"
                                    data-uk-modal="{target:'#Conteo'}"> Reporte Conteo
                            </button>
                        </li>
                        <li>
                            <button type="button" class="uk-button uk-icon-print"
                                    data-uk-modal="{target:'#HistoricoRango'}"> Reporte Historico Pago de Fleteros
                            </button>
                        </li>
                        <li>
                            <button type="button" class="uk-button uk-icon-print">
                                <a ng-href="{{reporteInventario}}" target="_top" ng-click="juan()">
                                    Reporte Inventario</a>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="uk-button uk-icon-print"
                                    data-uk-modal="{target:'#cantidadFleteros'}"> Reporte Cantidad de Pagos por
                                Fleteros
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-modal" id="Conteo" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 0px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Filtrar</h3>
            </div>
            <form name="Formguiarango" class="uk-form-stacked">
                <div class="uk-form-row">
                    <select name="" ng-options="x.id as x.name for x in opc" ng-model="opcConteo"
                            ng-change="actSelect()"></select>
                </div>

                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <a class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
                       ng-click="getReporteConteo()">Aceptar
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-modal" id="HistoricoRango" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 0px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Rango de Fechas</h3>
            </div>
            <form name="Formguiarango" class="uk-form-stacked">

                <div class='uk-grid'>
                    <div class='uk-width-1-2'>
                        <div class="uk-form-row">
                            <label>Transportista</label>
                            <select name="" class="selectized md-input" ng-model="filtro" ng-change="updateFiltro()"
                            >
                                <option value="all">Todos</option>
                                <option value="{{Transportistas.id}}" ng-repeat="Transportistas in transportista">
                                    {{Transportistas.nombre}} {{Transportistas.apellido}} {{Transportistas.id}}
                                </option>


                            </select>
                        </div>
                    </div>
                </div>

                <div class="uk-form-row">
                    <input id="start" style="width: 100%;" required/>
                </div>
                <div class="uk-form-row">
                    <input id="end" style="width: 100%;" required/>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <a class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
                       ng-click="imprimirReporteHistorico()">Aceptar
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-modal" id="cantidadFleteros" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 0px;">
            <div class='uk-grid'>
                <div class='uk-width-1-2'>
                    <div class="uk-form-row">
                        <label>Transportista</label>
                        <select name="" class="selectized md-input" ng-model="filtro" ng-change="updateFiltro()">
                            <option value="all">Todos</option>
                            <option value="{{Transportistas.id}}" ng-repeat="Transportistas in transportista">
                                {{Transportistas.nombre}} {{Transportistas.apellido}}  {{Transportistas.id}}
                            </option>


                        </select>

                    </div>
                </div>
            </div>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Rango de Fechas</h3>
            </div>
            <form name="Formguiarango" class="uk-form-stacked">
                <div class="uk-form-row">
                    <input id="start2" style="width: 100%;" required/>
                </div>
                <div class="uk-form-row">
                    <input id="end2" style="width: 100%;" required/>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <a class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
                       ng-click="reporteCantiFlete()">Aceptar
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>