<div id="page_content_inner" >

    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">       
                <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                            <li><a data-uk-modal="{target:'#nuevoRegistro'}">Generar Pago</a></li>
                            <li><a data-uk-modal="{target:'#consultarPagos'}">Consultar Pagos</a></li>
                            <!--modal-->
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Pagos<input type="text" placeholder="Filtrar">
            </h3>
        </div>

        <div class="uk-modal" id="consultarPagos" aria-hidden="true" style="display: none; overflow-y: auto;">
            <div class="uk-modal-dialog" style="top: 0px;">
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">Pagos por Rango de Fechas</h3>
                </div>
                <form class="uk-form-stacked">
                    <div class="uk-form-row">
                        <input id="start2" style="width: 100%;" required  />
                    </div>
                    <div class="uk-form-row">
                        <input id="end2" style="width: 100%;" required  />
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                        <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"  ng-click="RangoGetPagos()" data-uk="{target:'#payments'}">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="md-card-content" id="payments">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">

                    <table class="uk-table uk-table-hover" >
                        <thead>
                            <tr>
                                <th>N° de Pago</th>
                                <th>Fecha de Pago</th>
                                <th>Cedula Transportista</th>
                                <th>Transportista Nombre</th>
                                <th>Transportista Apellido</th>
                                <th>Kilos</th>
                                <th>Cajas</th>
                                <th>Clientes</th>
                                <th>Total Clientes</th>
                                <th>Total Guias</th>
                                <th>Total Fletes</th>
                                <th>Total Bonos</th>
                                <th>Total Base</th>
                                <th>Total IVA</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="PagosE in gPago">
                                <td>{{PagosE.IDPAGO}}</td>
                                <td>{{PagosE.FECHAPAGO}}</td>
                                <td>{{PagosE.ID_TRANSPORTISTA}}</td>
                                <td>{{PagosE.NOMBRE}}</td>
                                <td>{{PagosE.APELLIDO}}</td>
                                <td>{{PagosE.KILOS| currency: 'Kg '}}</td>
                                <td>{{PagosE.CAJAS}}</td>  
                                <td>{{PagosE.CLIENTES}}</td>
                                <td>{{PagosE.TOTALCLIENTES| currency: 'Bs. '}}</td>
                                <td>{{PagosE.TOTALGUIAS| currency: 'Bs. '}}</td>
                                <td>{{PagosE.TOTALFLETES| currency: 'Bs. '}}</td>
                                <td>{{PagosE.TOTALBONOS| currency: 'Bs. '}}</td>
                                <td>{{PagosE.TOTALBASE| currency: 'Bs. ' }}</td>
                                <td>{{PagosE.TOTALIVA| currency: 'Bs. '}}</td>  
                                <td>{{PagosE.TOTALPAGO| currency: 'Bs. '}}</td>  
                                <td>
                                    <button type="button" class="uk-icon-button uk-icon-close uk-button-primary" title="Eliminar" data-uk-modal="{target:'#eliminar'}"  ng-click="vaciarLogin();seleccionarPago($index)"></button>
                                    <button type="button" class="uk-icon-button uk-icon-eye uk-button-primary"  title="Visualizar" data-uk-modal="{target:'#visualizar'}" ng-click="seleccionarPago($index)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>   
        </div>
    </div>

    <div class="uk-modal" id="nuevoRegistro" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 0px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Guias por Rango de Fechas</h3>
            </div>


            <form name="Formguiarango" class="uk-form-stacked">
                <div class="uk-form-row">
                    <input id="start" style="width: 100%;"  ng-model="fechaInicio" required  />
                </div>
                <div class="uk-form-row">
                    <input id="end" style="width: 100%;"  ng-model="fechaFinal" required  />
                </div>
                <div class="uk-form-row">
                    <label>Transportista</label>
                    <select name="transport" class="selectized md-input ng-pristine ng-touched ng-valid ng-valid-required" ng-model="idTransportista" ng-options=" Transportistas.id as Transportistas.nombre + '  ' + Transportistas.apellido + '  ' + Transportistas.id for Transportistas in transportista" required> </select>
                </div>
                <div class="uk-text-danger" ng-messages="Formguiarango.transport.$error" >
                    <p ng-message="required">Debe elegir un transportista.</p>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="RangoFechaPagos()" data-uk-modal="{target:'#generarPago'}">Aceptar</button>
                </div>
            </form>
        </div>
    </div>


    <div class="uk-modal" id="generarPago" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 0px; width: 90%;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Crear Pago <input type="text" ng-model="search" placeholder="Filtrar"></h3>
            </div>

            <form name="formNuevoPago" novalidate>

                <div class="demo-section k-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-hover">

                            <thead>
                                <tr>
                                    <th>N° Guia</th>
                                    <th>Fecha de Entrega</th>
                                    <th>N° Factura</th>
                                    <th>N° Clientes</th>
                                    <th>Zona</th>
                                    <th>Cajas</th>
                                    <th>Peso Total (KG)</th>
                                    <th>Monto Total (Bs.)</th>
                                    <th>Pago Cliente (Bs.)</th>
                                    <th>Pago Bono (Bs.)</th>
                                    <th>Pago Flete (Bs.)</th>
                                    <th>Base (Bs.)</th>
                                    <th>IVA (Bs.)</th>
                                    <th>Total (Bs.)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="GuiasPago in Pagos">
                                    <td>{{GuiasPago.ID}}</td>
                                    <td>{{GuiasPago.FECHAENTREGA}}</td>
                                    <td>{{GuiasPago.NFACT}}</td>
                                    <td>{{GuiasPago.NCLIE}}</td>
                                    <td>{{GuiasPago.NOMBRE_CIUDAD}}</td>
                                    <td>{{GuiasPago.CAJASGUIA}}</td>
                                    <td>{{GuiasPago.PESOTT}}</td>
                                    <td>{{GuiasPago.MONTOTT}}</td>
                                    <td>{{GuiasPago.PAGOCLIE}}</td>
                                    <td>{{GuiasPago.PAGOBONO}}</td>
                                    <td>{{GuiasPago.PAGOFLETE}}</td>
                                    <td>{{GuiasPago.BASE}}</td>
                                    <td>{{GuiasPago.IVA | number: 2}}</td>
                                    <td>{{GuiasPago.TOTAL | number: 2}}</td>
                                    <td> 
                                        <input type="checkbox" ng-model="Pagos[$index].status" ng-change="seleccionarGuia($index)" required>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Peso Total</label>
                                <input  type="text" class="md-input" placeholder="{{pesoTotalPago| currency: 'Kg '}}" ng-model="a" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Cajas Totales</label>
                                <input  type="text" class="md-input" placeholder="{{totalCajas}}" ng-model="b" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Clientes Totales</label>
                                <input  type="text" class="md-input" placeholder="{{totalClientes}}" ng-model="c" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Monto Total Guias</label>
                                <input  type="text" class="md-input" placeholder="{{montoTotalPago| currency: 'Bs. '}}" ng-model="d" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Monto Total Fletes</label>
                                <input  type="text" class="md-input" placeholder="{{pagoTotalPago| currency: 'Bs. '}}" ng-model="e" disabled/>
                            </div>
                        </div>
                    </div>                       
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Monto Total Clientes Efec.</label>
                                <input  type="text" class="md-input" placeholder="{{ClienteTotalPago| currency: 'Bs. '}}" ng-model="f" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Bono Adicional Total</label>
                                <input  type="text" class="md-input" placeholder="{{BonoTotalPago| currency: 'Bs. '}}" ng-model="g" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Base Total</label>
                                <input  type="text" class="md-input" placeholder="{{baseTotalPago| currency: 'Bs. '}}" ng-model="h" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>IVA Total</label>
                                <input  type="text" class="md-input" placeholder="{{ivaTotalPago| currency: 'Bs. '}}" ng-model="i" disabled/>
                            </div>
                        </div>
                        <div class="uk-width-small-1-5">
                            <div class="uk-form-row">
                                <label>Pago Total</label>
                                <input  type="text" class="md-input" placeholder="{{totalPago| currency: 'Bs. '}}" ng-model="j" disabled/>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="uk-icon-button uk-icon-close uk-button-primary uk-modal-close" title="Cancelar"></button>
                    <button type="button"  class="uk-icon-button uk-icon-check-circle-o uk-button-primary uk-modal-close" ng-click="crearPago()" title="Pagar"></button>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-modal" id="visualizar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <form name="" novalidate>
            <div class="uk-modal-dialog" style="top: 0px; width: 90%;">
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">Detalle Pago</h3>
                </div>

                <div class="demo-section k-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-hover" id="tableFacturas">

                            <thead>
                                <tr>
                                    <th>N° de Guia</th>
                                    <th>Fecha de Creacion</th>
                                    <th>N° de Clientes</th>
                                    <th>N° de Facturas</th>
                                    <th>Peso Total</th>
                                    <th>Zona</th>
                                    <th>Monto Total</th>
                                    <th>Cajas</th>
                                    <th>Clientes Efec.</th>
                                    <th>Bono</th>
                                    <th>Flete</th>
                                    <th>Base</th>
                                    <th>IVA</th>
                                    <th>Total Pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="GUIAS in getPago| orderBy: '+ID'">
                                    <td>{{GUIAS.ID}}</td>
                                    <td>{{GUIAS.FECHACREA}}</td>
                                    <td>{{GUIAS.NCLIE}}</td>
                                    <td>{{GUIAS.NFACT}}</td>
                                    <td>{{GUIAS.PESOTT| currency: 'Kg '}}</td>
                                    <td>{{GUIAS.NOMBRE_CIUDAD}}</td>
                                    <td>{{GUIAS.MONTOTT| currency: 'Bs. '}}</td>
                                    <td>{{GUIAS.CAJASGUIA}}</td> 
                                    <td>{{GUIAS.PAGOCLIE| currency: 'Bs. '}}</td>
                                    <td>{{GUIAS.PAGOBONO| currency: 'Bs. '}}</td>
                                    <td>{{GUIAS.PAGOFLETE| currency: 'Bs. '}}</td>
                                    <td>{{GUIAS.BASE| currency: 'Bs. '}}</td>
                                    <td>{{GUIAS.PAGOIVA| currency: 'Bs. '}}</td>
                                    <td>{{GUIAS.TOTALPAGOGUIA| currency: 'Bs. '}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>  
                <div class="uk-modal-footer uk-text-right">
                    <button type="button"  class="uk-icon-button uk-icon-print uk-button-primary" title="Imprimir" ng-click="imprimir($index)"></button>
                    <button type="button"  class="uk-icon-button uk-icon-check-circle-o uk-button-primary uk-modal-close" title="Guardar"></button>
                    <button type="button" class="uk-icon-button uk-icon-close uk-button-primary uk-modal-close" title="Cancelar"></button>
                </div>
            </div>
        </form>
    </div>

    <div class="uk-modal" id="eliminar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Eliminar Pago</h3>
            </div>

            <form name="formularioLogin" novalidate>

                <div class="uk-form-row">
                    <label>Usuario</label>
                    <input  ng-model="user" class="md-input" ng-minlength="3" ng-maxlength="20" required/>

                </div>

                <div class="uk-form-row">
                    <label>Contraseña</label>
                    <input type="password" ng-model="pass" class="md-input" ng-minlength="3" ng-maxlength="25" required />

                </div>

                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" ng-click="eliminarPago($index)">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>


