<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Reporte Conteo
            </h3>
        </div>
        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">
                    <h5>Imprimir reporte</h5>
                    <a ng-href="{{reporteCx}}/{{reporteC}}"
                       class="uk-icon-button uk-icon-print uk-button-primary" title="Imprimir"></a>
                </div>
            </div>
        </div>
    </div>
</div>