<div id="page_content_inner">

    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                            <li><a data-uk-modal="{target:'#HistoricoRango'}">Generar Reporte</a></li>
                            <!--modal-->
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="md-card-toolbar-heading-text">
               <button type="button" class="uk-icon-button uk-icon-print uk-button-primary"></button> Reporte Guia de Inventario
            </h3>
        </div>

    </div>
</div>