<div id="page_content_inner">

    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                            <li><a data-uk-modal="{target:'#HistoricoRango'}">Generar Reporte</a></li>
                                                        <!--modal-->
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Reporte Historico Pago de Fleteros
            </h3>
        </div>

    <div class="uk-modal" id="HistoricoRango" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 0px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Rango de Fechas</h3>
            </div>
            <form name="Formguiarango" class="uk-form-stacked">
                <div class="uk-form-row">
                    <input id="start" style="width: 100%;"  required/>
                </div>
                <div class="uk-form-row">
                    <input id="end" style="width: 100%;" required/>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <a class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
                            ng-click="HistoricoRango()">Aceptar
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>