<div id="page_content_inner" >

    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">       
                <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                            <li><a data-uk-modal="{target:'#nuevoRegistro'}" ng-click="vaciarTab(); resetTab()">Crear Nuevo Registro</a></li>
                            <!--modal-->
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="md-card-toolbar-heading-number">
                Tabulador <input type="number" ng-model="search" placeholder="Filtrar">
            </h3>
        </div>
        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">

                    <table class="uk-table uk-table-hover">
                        <thead>
                            <tr>
                                <th>Ciudad</th>
                                <th>C1</th> 
                                <th>C2</th>
                                <th>C3</th>
                                <th>C4</th>
                                <th>C5</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Fletes in fletes">

                                <td>{{Fletes.nombciud}}</td>           
                                <td>{{Fletes.C1}}</td>
                                <td>{{Fletes.C2}}</td>
                                <td>{{Fletes.C3}}</td>
                                <td>{{Fletes.C4}}</td>
                                <td>{{Fletes.C5}}</td>
                                <td>
                                    <a class="uk-icon-button uk-icon-edit uk-icon-button-danger" title="Modificar" data-uk-modal="{target:'#modificar'}" ng-click="editarTab($index)"></a>
                                    <a class="uk-icon-button uk-icon-close uk-icon-button-danger" title="Eliminar" ng-click="deleteTab($index)"></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>   
        </div>
    </div>
    <div class="uk-modal" id="nuevoRegistro" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Nuevo Registro</h3>
            </div>

            <form name="formTabnuevo">
                <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                    <div class="uk-width-small-1-2">
                        <div class="uk-form-row">
                            <label>Estado</label>
                            <select name="estado" class="selectized md-input" ng-model="estadoObj" ng-change="convertir()" required>
                                <option ng-repeat="estado in estados" value="{{estado}}">{{estado.NOMBESTA}}</option>
                            </select>
                        </div>
                        <div class="uk-text-danger" ng-messages="formTabnuevo.estado.$error" >
                            <p ng-message="required">Seleccione un estado.</p>
                        </div>
                    </div>
                    <div class="uk-width-small-1-2">
                        <div class="uk-form-row">
                            <label>Ciudad</label>
                            <select name="ciudad" class="selectized md-input" ng-model="ciudadObj" required>
                                <option ng-repeat="ciudad in ciudades"  value="{{ciudad}}">{{ciudad.NOMBCIUD}}</option>
                            </select>
                        </div>
                        <div class="uk-text-danger" ng-messages="formTabnuevo.ciudad.$error">
                            <p ng-message="required">Seleccione un ciudad.</p>
                        </div>
                    </div>
                </div>
                <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                    <div class="uk-width-small-1-3">
                        <div class="uk-form-row">
                            <label>C1</label>
                            <input name="ce1" type="text" class="md-input" value="{{C1}}" ng-model="C1" placeholder="123456.00" ng-pattern="/^[0-9]{1,10}([,.][0-9]{1,2})?$/" required />
                        </div>
                        <div class="uk-text-danger" ng-messages="formTabnuevo.ce1.$error" >
                            <p ng-message="required">Ingrese un monto.</p>
                            <p ng-message="pattern">Solo numeros.</p>
                        </div>
                    </div>
                    <div class="uk-width-small-1-3">
                        <div class="uk-form-row">
                            <label>C2</label>
                            <input name="ce2" type="text" class="md-input" value="{{C2}}" ng-model="C2" placeholder="123456.00" ng-pattern="/^[0-9]{1,10}([,.][0-9]{1,2})?$/" required />
                        </div>
                        <div class="uk-text-danger" ng-messages="formTabnuevo.ce2.$error" >
                            <p ng-message="required">Ingrese un monto.</p>
                            <p ng-message="pattern">Solo numeros.</p>
                        </div>
                    </div>

                    <div class="uk-width-small-1-3">
                        <div class="uk-form-row">
                            <label>C3</label>
                            <input name="ce3" type="text" class="md-input" value="{{C3}}" ng-model="C3" placeholder="123456.00" ng-pattern="/^[0-9]{1,10}([,.][0-9]{1,2})?$/" required />
                        </div>
                        <div class="uk-text-danger" ng-messages="formTabnuevo.ce3.$error" >
                            <p ng-message="required">Ingrese un monto.</p>
                            <p ng-message="pattern">Solo numeros.</p>
                        </div>
                    </div>
                </div>
                <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                    <div class="uk-width-small-1-2">
                        <div class="uk-form-row">
                            <label>C4</label>
                            <input name="ce4" type="text" class="md-input" value="{{C4}}" ng-model="C4" placeholder="123456.00" ng-pattern="/^[0-9]{1,10}([,.][0-9]{1,2})?$/" required />
                        </div>
                        <div class="uk-text-danger" ng-messages="formTabnuevo.ce4.$error" >
                            <p ng-message="required">Ingrese un monto.</p>
                            <p ng-message="pattern">Solo numeros.</p>
                        </div>
                    </div>
                    <div class="uk-width-small-1-2">
                        <div class="uk-form-row">
                            <label>C5</label>
                            <input name="ce5" type="text" class="md-input" value="{{C5}}" ng-model="C5" placeholder="123456.00" ng-pattern="/^[0-9]{1,10}([,.][0-9]{1,2})?$/" required />
                        </div>
                        <div class="uk-text-danger" ng-messages="formTabnuevo.ce5.$error" >
                            <p ng-message="required">Ingrese un monto.</p>
                            <p ng-message="pattern">Solo numeros.</p>
                        </div>
                    </div>
                </div>
            </form>
            <div class="uk-modal-footer uk-number-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" ng-disabled="formTabnuevo.$invalid" ng-click="postTabulador()">Crear</button>
            </div>
        </div>
    </div>
    <div class="uk-modal" id="modificar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Modificar Registro</h3>
            </div>

            <form name="formTab">
                <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                    <div class="uk-width-small-1-1">
                        <div class="uk-form-row">
                            <label>Ciudad</label>
                            <input type="text" class="md-input" placeholder="{{nombciud}}" ng-disabled="true" ng-model="nombciud" required />
                        </div>
                    </div>
                </div>
                <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                    <div class="uk-width-small-1-3">
                        <div class="uk-form-row">
                            <label>C1</label>
                            <input type="text" class="md-input" name="ce21" min="0" ng-minlength="0" ng-model="C1_mod" ng-pattern="/[0-9]+\.[0-9]{1,2}$/" required />
                        </div>
                         <div class="uk-text-danger" ng-messages="formTab.ce21.$error" >
                            <p ng-message="required">Ingrese un monto.</p>
                            <p ng-message="patterm">Solo numeros.</p>
                        </div>
                    </div>
                    <div class="uk-width-small-1-3">
                        <div class="uk-form-row">
                            <label>C2</label>
                            <input type="text" class="md-input" name="ce22" min="0" ng-minlength="0" ng-model="C2_mod" ng-pattern="/[0-9]+\.[0-9]{1,2}$/" required />
                        </div>
                        <div class="uk-text-danger" ng-messages="formTab.ce22.$error" >
                            <p ng-message="required">Ingrese un monto.</p>
                            <p ng-message="patterm">Solo numeros.</p>
                        </div>
                    </div>
                    <div class="uk-width-small-1-3">
                        <div class="uk-form-row">
                            <label>C3</label>
                            <input type="text" name="ce23" class="md-input" min="0" ng-minlength="0" ng-model="C3_mod" ng-pattern="/[0-9]+\.[0-9]{1,2}$/" required />
                        </div>
                        <div class="uk-text-danger" ng-messages="formTab.ce23.$error" >
                            <p ng-message="required">Ingrese un monto.</p>
                            <p ng-message="patterm">Solo numeros.</p>
                        </div>
                    </div>
                </div>
                <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                    <div class="uk-width-small-1-2">
                        <div class="uk-form-row">
                            <label>C4</label>
                            <input type="text" class="md-input" name="ce24" min="0" ng-minlength="0" ng-model="C4_mod" ng-pattern="/[0-9]+\.[0-9]{1,2}$/" required />
                        </div>
                        <div class="uk-text-danger" ng-messages="formTab.ce24.$error" >
                            <p ng-message="required">Ingrese un monto.</p>
                            <p ng-message="patterm">Solo numeros.</p>
                        </div>
                    </div>
                    <div class="uk-width-small-1-2">
                        <div class="uk-form-row">
                            <label>C5</label>
                            <input type="text" name="ce25" class="md-input" min="0" ng-minlength="0" ng-model="C5_mod" ng-pattern="/[0-9]+\.[0-9]{1,2}$/" required />
                        </div>
                        <div class="uk-text-danger" ng-messages="formTab.ce25.$error" >
                            <p ng-message="required">Ingrese un monto.</p>
                            <p ng-message="patterm">Solo numeros.</p>
                        </div>
                    </div>
                </div>

            </form>
            <div class="uk-modal-footer uk-number-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" ng-disabled="formTab.$invalid" ng-click="updateTab()">Guardar</button>
            </div>
        </div>
    </div>
</div>