<div id="page_content_inner" >

    <div class="md-card">


        <div class="md-card-toolbar">
           <!-- <div class="md-card-toolbar-actions">       
                 <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                           <li><a data-uk-modal="{target:'#nuevoRegistro'}" ng-click="vaciarTipoCamion()">Crear Nuevo Registro</a></li>
                        </ul>
                    </div>
                </div>
            </div>-->
            <h3 class="md-card-toolbar-heading-text">
                Listado Tipos de Camion
            </h3>
        </div>

        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-hover">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Capacidad Mínima</th>     
                                <th>Capacidad Máxima</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tipo in tcamion">
                                <td> {{tipo.tipo}}</td>             
                                <td> {{tipo.capmin}} </td>
                                <td> {{tipo.capmax}} </td>
                                <td><a class="uk-icon-button uk-icon-edit uk-icon-button-danger" title="Modificar" data-uk-modal="{target:'#modificar'}" ng-click="modificartipo($index)"></a>
                                    <!--<button type="button" class="uk-icon-button uk-icon-close uk-icon-button-danger" title="Eliminar" ng-click="deleteTipoCamion($index)"></button>-->
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>   
        </div>
    </div>


    <div class="uk-modal" id="nuevoRegistro" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Nuevo Tipo de Camion</h3>
            </div>

            <form name="formularioTipoCamion" novalidate>

                <div class="uk-form-row">
                    <label>Tipo</label>
                    <input  type="text" class="md-input"  ng-model="tipo" name="tipo" required ng-maxlength="3"/>
                    <div class="uk-text-danger" ng-messages="formularioTipoCamion.tipo.$error" >
                        <p ng-message="required">Debe ingresar el tipo de camion.</p>
                        <p ng-message="maxlength">Tipo de Camión muy Largo</p>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label>Capacidad Mínima</label>
                    <input type="text" class="md-input"  ng-model="capmin" required />
                </div>

                <div class="uk-form-row">
                    <label>Capacidad Máxima</label>
                    <input type="text" class="md-input"  ng-model="capmax" required />
                </div>


                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" ng-disabled="formularioTipoCamion.$invalid" ng-click="posTipoCamion()">Aceptar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-modal" id="modificar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Modificar Tipo de Camion</h3>
            </div>

            <form name="formularioTipoCamion_mod">
                <div class="uk-form-row">
                    <label>Tipo</label>
                    <input type="text" class="md-input" ng-disable="true" placeholder="{{tipo}}" required/>

                </div>

                <div class="uk-form-row">
                    <label>Capacidad Mínima</label>
                    <input type="text" class="md-input"  value="{{capmin_mod}}" ng-model="capmin_mod" required/>
                </div>
                <div class="uk-form-row">
                    <label>Capacidad Máxima</label>
                    <input type="text" class="md-input" value="{{capmax_mod}}" ng-model="capmax_mod" required/>
                </div>

                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" ng-click="updateTipoCamion($index)">Aceptar</button>
                </div>
            </form>
        </div>
    </div>

</div>