<div id="page_content_inner">


    <div class="md-card">


        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                            <li><a data-uk-modal="{target:'#nuevoRegistro'}"
                                   ng-click="vaciarTransportista();obtenerEmpresas()">Crear
                                Nuevo Registro</a></li>
                            <!--modal-->
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Listado Transportista <input type="text" ng-model="search">
            </h3>
        </div>

        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-hover">
                        <thead>
                        <tr>
                            <th>Cedula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cargo</th>
                            <th>Empresa</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="Transportistas in transportista | filter: search">

                            <td> {{Transportistas.id}}</td>
                            <td> {{Transportistas.nombre}}</td>
                            <td> {{Transportistas.apellido}}</td>
                            <td> {{Transportistas.cargo}}</td>
                            <td> {{Transportistas.nombEmp}}</td>
                            <td><a class="uk-icon-button uk-icon-edit uk-icon-button-danger" title="Modificar"
                                   data-uk-modal="{target:'#modificar'}" ng-click="modificarTransportista($index);"></a>
                                <button type="button" class="uk-icon-button uk-icon-close uk-icon-button-danger"
                                        title="Eliminar" ng-click="deleteTransportista($index)"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="uk-modal" id="nuevoRegistro" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Nuevo transportista</h3>
            </div>

            <form name="formularioTransportista" novalidate>
                <div class="uk-form-row">
                    <label>Cedula</label>
                    <input type="text" class="md-input" ng-model="id" name="id" ng-minlength="6" ng-maxlength="9"
                           ng-pattern=" /^\d+$/" required/>
                    <div class="uk-text-danger" ng-messages="formularioTransportista.id.$error">
                        <p ng-message="minlength">La cedula es muy corta.</p>
                        <p ng-message="maxlength">La cedula es muy larga.</p>
                        <p ng-message="required">Debe ingresar una cedula.</p>
                        <p ng-message="pattern">Solo numeros en el campo cedula.</p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label>Nombre</label>
                    <input type="text" class="md-input" ng-model="nombre" name="nombre" ng-minlength="3"
                           ng-maxlength="20" ng-pattern="/^[A-z]+$/" required/>
                    <div class="uk-text-danger" ng-messages="formularioTransportista.nombre.$error">
                        <p ng-message="minlength">El nombre es muy corto.</p>
                        <p ng-message="maxlength">El nombre es muy largo.</p>
                        <p ng-message="pattern">Debe ingresar letras.</p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label>Apellido</label>
                    <input type="text" class="md-input" ng-model="apellido" name="apellido" ng-minlength="3"
                           ng-maxlength="25" ng-pattern="/^[A-z ]+$/" required/>
                    <div class="uk-text-danger" ng-messages="formularioTransportista.apellido.$touched">
                        <p ng-message="minlength">El apellido es muy corto.</p>
                        <p ng-message="maxlength">El apellido es muy corto.</p>
                        <p ng-message="pattern">Debe ingresar letras.</p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label>Cargo</label>
                    <input type="text" class="md-input" ng-model="cargo" name="cargo" required/>
                    <div class="uk-text-danger" ng-messages="formularioTransportista.cargo.$error">
                        <p ng-message="required">Debe ingresar el cargo.</p>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label>Empresa</label>
                    <select name="empresa" class="md-input" ng-model="empresa_id" ng-change="changeEmp()"
                            ng-options="empresa.id as empresa.nombre for empresa in Empresa"></select>

                    <div class="uk-text-danger" ng-messages="formularioTransportista.empresa.$error">
                        <p ng-message="required">Debe seleccionar la empresa.</p>
                    </div>
                </div>

                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button" class="md-btn md-btn-flat uk-modal-close md-btn-flat-primary"
                            ng-disabled="formularioTransportista.$invalid" ng-click="postTransportista();">Aceptar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-modal" id="modificar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Modificar Transportista</h3>
            </div>

            <form name="formularioTransportistaT_mod" novalidate>
                <div class="uk-form-row">
                    <label>Cedula</label>
                    <input type="text" class="md-input" ng-disabled="true" placeholder="{{cedula}}"/>
                </div>
                <div class="uk-form-row">
                    <label>Nombre</label>
                    <input type="text" class="md-input" value="{{nombreT_mod}}" ng-model="nombreT_mod"
                           name="nombreT_mod" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[A-z]+$/" required/>
                    <div class="uk-text-danger" ng-messages="formularioTransportistaT_mod.nombreT_mod.$error">
                        <p ng-message="minlength">El nombre es muy corto.</p>
                        <p ng-message="maxlength">El nombre es muy largo.</p>
                        <p ng-message="pattern">Debe ingresar letras.</p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label>Apellido</label>
                    <input type="text" class="md-input" value="{{apellidoT_mod}}" ng-model="apellidoT_mod"
                           name="apellidoT_mod" ng-minlength="3" ng-maxlength="25" ng-pattern="/^[A-z]+$/" required/>
                    <div class="uk-text-danger" ng-messages="formularioTransportistaT_mod.apellidoT_mod.$error">
                        <p ng-message="minlength">El apellido es muy corto.</p>
                        <p ng-message="maxlength">El apellido es muy corto.</p>
                        <p ng-message="pattern">Debe ingresar letras.</p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label>Cargo</label>
                    <input type="text" class="md-input" value="{{cargoT_mod}}" ng-model="cargoT_mod" name="cargoT_mod"
                           required/>
                    <div class="uk-text-danger" ng-messages="formularioTransportistaT_mod.cargoT_mod.$error">
                        <p ng-message="required">Debe ingresar el cargo.</p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label>Empresa</label>
                    <select name="empresa_mod" class="md-input" ng-model="empresa_id_mod" ng-change="changeEmpAct()"
                            ng-options="empresa.id as empresa.nombre for empresa in Empresa"></select>

                    <div class="uk-text-danger" ng-messages="formularioTransportistaT_mod.empresa_mod.$error">
                        <p ng-message="required">Debe seleccionar la empresa.</p>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button" class="md-btn md-btn-flat uk-modal-close md-btn-flat-primary"
                            ng-disabled="formularioTransportistaT_mod.$invalid" ng-click="updateTransportista($index);">
                        Aceptar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
