<div id="page_content_inner" >

    <div class="md-card">


        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">       
                <div class="md-card-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <i class="md-icon material-icons"></i>
                    <div class="uk-dropdown uk-dropdown-flip" style="min-width: 200px;">
                        <ul class="uk-nav">
                            <li><a data-uk-modal="{target:'#nuevoRegistro'}" ng-click="vaciarZona();RecargarUbicaciones()">Crear Nuevo Registro</a></li>
                            <!--modal-->
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Listado Zonas <input type="text" ng-model="searchZonas" placeholder="Filtrar">
            </h3>
        </div>

        <div class="md-card-content">
            <div class="demo-section k-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-hover">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Zona</th>     
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="zona in zonas| filter: searchZonas">
                                <td> {{zona.ID}}</td>             
                                <td> {{zona.NOMBRE}} </td>
                                <td>
                                    <button type="button" class="uk-icon-button uk-icon-close" title="Eliminar" ng-click='eliminarZona($index)'></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>   
        </div>
    </div>


    <div class="uk-modal" id="nuevoRegistro" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Nueva Zona</h3>
            </div>

            <form name="formularioZona" novalidate>

                <div class="uk-form-row">
                    <label class='uk-form-label'>Nombre</label>
                    <input type="text" class="md-input"  ng-model="nombre" name="nombre" required />
                    <div class="uk-text-danger" ng-messages="formularioZona.nombre.$error" >
                        <p ng-message="required">Debe ingresar un nombre.</p>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label class='uk-form-label'>Seleccione ubicaciones</label>
                </div>
                <div class="demo-section k-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-hover">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ubicacion in UbicSinZona">
                                    <td> {{ubicacion.codiubic}}</td>

                                    <td> {{ubicacion.nombubic}} </td>

                                    <td> <input type="checkbox" ng-model="UbicSinZona[$index].status" ng-change="SeleccionarZonas($index)">
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>    


                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                    <button type="button"  class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" ng-disabled="formularioZona.$invalid" ng-click="postZonas()">Aceptar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-modal" id="modificar" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="uk-modal-dialog" style="top: 174px;">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Modificar Zona</h3>
            </div>

            <form >
                <div class="uk-form-row">
                    <label>Codigo</label>
                    <input type="text" class="md-input" ng-model="idzona_mod" ng-disabled="true"/>
                </div>

                <div class="uk-form-row">
                    <label>Nombre</label>
                    <input type="text" class="md-input"  ng-model="nombre_mod" />
                </div>

                <div class="demo-section k-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-hover">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ubicacion in ubicaciones">
                                    <td> {{zona.id}}</td>

                                    <td> {{zona.nombre}} </td>

                                    <td> <input type="checkbox" name="ubicacion" value="1"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>    


                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button><button type="button"  class="md-btn md-btn-flat md-btn-flat-primary" ng-click="modificarZonas($index);">Aceptar</button>
                </div>
            </form>
        </div>
    </div>




</div>